@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@theme {
  --font-serif: "Merriweather", serif;
  --font-sans: "Inter", sans-serif;

  --color-sepia-50: #fdfbf7;
  --color-sepia-100: #fbf7ef;
  --color-sepia-200: #f5ebd6;
  --color-sepia-300: #eddcb5;
  --color-sepia-400: #e2c58e;
  --color-sepia-500: #d4a355;
  --color-sepia-600: #bc8641;
  --color-sepia-700: #9b6635;
  --color-sepia-800: #7f5131;
  --color-sepia-900: #68432a;
  --color-sepia-950: #3a2315;

  --color-slate-850: #1a202c;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;

  --image-parchment: url('/src/assets/parchment-texture.png');
}

@layer base {
  body {
    font-family: var(--font-serif);
    background-color: var(--color-slate-900);
    color: var(--color-sepia-100);
  }
}